.main-menu {
	background-color: #f9f9ff;
	font-family: sans-serif;
	padding: 0 20px;
	min-height: 100%;
	text-align: left;
}

h1 {
	text-transform: uppercase;
	color: #fff;
	text-shadow: 2px 2px 1px #666, -1px -1px 0 #dde;
	text-align: center;
	margin: 0;
	padding: 30px 0 20px 0;
	color: #eef;
}

#__wrapper {
	background-color: #fff;
	min-height: 600px;
	color: #200;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 5px #666, -1px -1px 0 #dde;
	box-shadow: 3px 3px 5px #666, -1px -1px 0 #dde;
	padding: 30px;
}

ul {
	list-style-type: none;
}

ul li {
	margin: 10px 0;
}

ul li a {
	text-decoration: none;
	color: #55e;
}

.top-menu ul li {
	text-align: right;
}

button, input[type="submit"] {
	background-color: #55e;
	border: 2px solid #55e;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

button:focus, input:focus {
	outline: none;
}