.admin-panel {
	background-color: #f9f9ff;
	font-family: sans-serif;
	padding: 0 20px;
	min-height: 100%;
	text-align: left;
}

h1 {
	text-transform: uppercase;
	color: #fff;
	text-shadow: 2px 2px 1px #666, -1px -1px 0 #dde;
	text-align: center;
	margin: 0;
	padding: 30px 0 20px 0;
	color: #eef;
}

#__wrapper {
	background-color: #fff;
	min-height: 600px;
	color: #200;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 5px #666, -1px -1px 0 #dde;
	box-shadow: 3px 3px 5px #666, -1px -1px 0 #dde;
	padding: 30px;
}

ul {
	list-style-type: none;
}

ul li {
	margin: 10px 0;
}

ul li a {
	text-decoration: none;
	color: #78e;
}

.top-menu ul li {
	text-align: right;
}

button, input[type="submit"], .sessions  a.button-link {
	background-color: #78e;
	border: 2px solid #78e;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	padding: 6px 10px;
}

.sessions  a.button-link.disabled {
	background-color: #ddf;
	border: 2px solid #ddf;
	cursor: default;
}

button:focus, input:focus {
	outline: none;
}

#__session_form input[type="time"] {
    background-color: #78e;
    border: none;
    padding: 5px 5px 6px 8px;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin-top: 10px;
}

#__session_form label {
	display: block;
	margin-top: 15px;
	font-weight: bold;
}

#__session_form input[type="time"]:focus {
	background-color: #33a;
	-webkit-box-shadow: inset 2px 2px 2px #119;
	box-shadow: inset 2px 2px 2px #119;
	padding: 6px 4px 5px 9px;
	outline: none;
}

.add-instruments {
	font-size: 26px;
	font-weight: bold;
	margin-top: 30px;
	display: block;
}

.instrument input {
	margin-top: 20px;
	margin-right: 10px;
	border-radius: 4px;
	padding: 4px;
	border: 1px solid #aaa;
	height: 18px;
}

#__add_instrument, #__add_user {
	background-color: #78e;
	margin-top: 10px;
	color: #fff;
	border: 2px solid #78e;
	border-radius: 4px;
}

.instruments input {
  height: 26px;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.instruments.users input {
	width: 100px;
}

.instruments.users input[type="checkbox"] {
	width: 16px;
}

.add-session input:focus::-webkit-input-placeholder { color:transparent; }
.add-session input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.add-session input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.add-session input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
.add-session input::-webkit-input-placeholder { color:#000; }
.add-session input:-moz-placeholder { color:#000; } /* FF 4-18 */
.add-session input::-moz-placeholder { color:#000; } /* FF 19+ */
.add-session input:-ms-input-placeholder { color:#000; } /* IE 10+ */

.wrapper {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.admin-panel table {
	width: 90%;
	border-collapse: collapse;
}

.admin-panel table td {
	padding: 4px;
	border-bottom: 1px solid #eee;
}

.admin-panel table .table-header {
	background-color: #eee;
}

.remove-instrument, .update-instrument {
	/*background-image: url('../images/cross.png');*/
	-webkit-background-size: 100%;
	background-size: 100%;
	background-color: transparent;
	border: none;
	width: 12px;
	height: 12px;
}

.instruments button {
	width: 100px;
}

.instruments button.success, .instruments button.success:disabled {
	background-color: #6f8;
	border: 2px solid #6f8;
}

.instruments button:disabled {
	background-color: #ddf;
	border: 2px solid #ddf;
	cursor: default;
}

.users-form label {
	font-size: 12px;
}

.session h2 {
	margin-top: 50px;
}

.session table {
	width: 90%;
}

.session table td {
	padding: 4px;
	border-bottom: 1px solid #eee;
}

.session table .table-header {
	background-color: #eee;
}

button.register-session {
	margin-top: 20px;
  background-color: #e78;
  font-weight: bold;
  border: 2px solid #e78;
}

button.register-session:disabled {
	cursor: default;
	background-color: #fdd;
	border: 2px solid #fdd;
}

button.delete-instrument {
	width: 31px;
	height: 31px;
	background-color: #e78;
	border: 2px solid #e78;
	background-image: url('../../public/images/cross.png');
	-webkit-background-size: 18px;
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
}

.adduser {
	margin-top: 50px;
}

.adduser > div {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.adduser input {
	display: block;
	margin: 10px;
	width: 70%;
	padding: 4px;
}

.adduser input[type="submit"] {
	width: auto;
	padding: 6px 10px;
}