body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
  text-align: center;
}

#trade_table {
	border-collapse: collapse;
	width: 75%;
	margin: 70px auto 0 auto;
	text-align: left;
}

#trade_table .cancel-all {
    background-color: #e55;
    color: #fff;
    border: 2px solid #e55;
    border-radius: 4px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

#trade_table .cancel-all:disabled {
	cursor: default;
	background-color: #fdd;
	border: 2px solid #fdd;
}

#trade_table .cancel-all:disabled:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#trade_table .cancel-all:focus {
	outline: none;
}

#trade_table button.cancel-row {
	background-color: #55e;
	border: 2px solid #55e;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

#trade_table button.cancel-row:disabled {
	background-color: #ddf;
	border: 2px solid #ddf;
	cursor: default;
}

#trade_table .cancel-all:hover {
	-webkit-box-shadow: 0 0 6px #faa;
	box-shadow: 0 0 6px #faa;
}

#trade_table td {
	padding: 10px 5px;
	vertical-align: top;
}

#trade_table .table-header {
	background-color: #ddd;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#trade_table .table-prerow {
	background-color: transparent;
}

#trade_table .table-prerow td {
	background-color: transparent;
	border-bottom: 1px solid #000;
	border-top: none;
}

#trade_table .table-header td, #trade_table td.bordered {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

/* #trade_table .size-form input {
	width: 30%;
	background-color: #55f;
	color: #fff;
	border: none;
	outline: none;
	height: 25px;
	line-height: 20px;
	padding: 0;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
} */

#trade_table .size-form input[type="number"] {
	width: 20%;
}

#trade_table .size-form input[type="submit"] {
	background-color: #55e;
	border: 2px solid #55e;
	color: #fff;
	cursor: pointer;
}

#trade_table .size-form input[disabled] {
	background-color: #ddf;
	border: 2px solid #ddf;
}

#trade_table .size-form input[type="submit"]:first-of-type {
	border-radius: 4px 0 0 4px;
}

#trade_table .size-form input[type="submit"]:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* #trade_table .size-form input:first-of-type {
	border-radius: 6px 0 0 6px;
}

#trade_table .size-form input:last-of-type {
	border-radius: 0 6px 6px 0;
} */

#trade_table td[colspan="3"] {
	width: 20%;
}

#trade_table tr:last-child {
	border-bottom: 1px solid #000;
}

#trade_table .bids-offers-td {
	border-left: 1px solid #000;
}

#trade_table .order {
	display: inline-block;
	margin-right: 6px;
}

#trade_table .order.order-error {
	padding: 3px;
	background-color: #e55;
	font-size: 12px;
	color: #fff;
}

#trade_table td.cancel-row {
	text-align: center;
}

input[type="email"], input[type="password"] {
	display: block;
	margin: 20px auto;
}

input {
	padding-left: 5px;
}

input[value="Войти"] {
	padding: 15px 20px;
	background-color: #55e;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

.signOut {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 15px 20px;
	background-color: #55e;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.errorBlock {
	margin: 20px auto 0 auto;
	width: 23%;
	background-color: #f66;
	color: #fff;
	height: 28px;
	padding-top: 10px;
	border-radius: 7px;
}