@keyframes animationRed {
	from {background-color: #fff;}
	50% {background-color: #e78;}
	to {background-color: #e78;}
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
  text-align: center;
}

.App {
	padding: 0 50px;
	text-align: left;
}

#trade_table {
	border-collapse: collapse;
	width: 970px;
	margin: 20px auto;
	text-align: center;
}

#trade_table.admin, .logo {
	width: 970px;
}

.logo {
	height: 100px;
	margin: 0 auto;
	background-image: url('../../public/images/logo.png');
	background-size: auto 50px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

#trade_table .cancel-all {
    background-color: #e78;
    color: #fff;
    border: 2px solid #e78;
    border-radius: 4px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

#trade_table .cancel-all:disabled {
	cursor: default;
	background-color: #fdd;
	border: 2px solid #fdd;
}

#trade_table .cancel-all:disabled:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#trade_table .cancel-all:focus {
	outline: none;
}

#trade_table button.cancel-row {
	background-color: #78e;
	border: 2px solid #78e;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

#trade_table button.cancel-row:disabled {
	background-color: #ddf;
	border: 2px solid #ddf;
	cursor: default;
}

#trade_table .cancel-all:hover {
	-webkit-box-shadow: 0 0 6px #faa;
	box-shadow: 0 0 6px #faa;
}

#trade_table td {
	padding: 10px 5px;
	vertical-align: top;
	border-top: 1px solid #000;
}

#trade_table.admin input[type="number"] {
  background-color: rgba(255,255,255,0.4);
  width: 90px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px;
  margin-right: 5px;
}

#trade_table button.admin-submit {
	margin-top: 5px;
	width: 100px;
}

#trade_table td[colspan="4"] button {
	margin: 0 8px;
}

#trade_table button.admin-submit.error, .cancel-planned-session, .end-session {
	background-color: #e78;
	border: 2px solid #e78;
}

.tickets #last_session_table tr:nth-child(2n + 1) {
	background-color: #eee;
}

#trade_table tr.highlighted-green, #last_session_table tr.highlighted-green {
	background-color: #8f9;
}

#trade_table tr.highlighted-yellow, #trade_table tr.highlighted-yellow td.highlighted-red {
	background-color: #fe8;
}

#trade_table td.highlighted-red, #last_session_table td.highlighted-red {
	background-color: #f55;
}

#trade_table td.animated-red {
	animation: animationRed 0.6s infinite steps(1, end);
}

#trade_table .table-header {
	background-color: #ddd;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#trade_table .set-interest {
	background-color: #fff;
	border-left: 1px solid #000;
	border-top: 1px solid #fff;
	border-right: 1px solid #000;
}

#trade_table .table-header .set-interest {
	background-color: #ddd;
}

#trade_table .interest-button {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-right: 5px;
	background-color: transparent;
}

#trade_table .interest-button.interest {
	border: 4px solid #8f9;
}

#trade_table .interest-button.deal {
	border: 4px solid #e78;
}

#trade_table .interest-button.interest.interested {
	background-color: #8f9;
	cursor: default;
}

#trade_table .interest-button.deal.dealed {
	background-color: #e78;
	cursor: default;
}

#trade_table .table-prerow {
	background-color: transparent;
}

#trade_table .table-prerow td {
	background-color: transparent;
	border-bottom: 1px solid #000;
	border-top: none;
}

#trade_table .table-header td, #trade_table td.bordered {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

/* #trade_table .size-form input {
	width: 30%;
	background-color: #55f;
	color: #fff;
	border: none;
	outline: none;
	height: 25px;
	line-height: 20px;
	padding: 0;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
} */

#trade_table .size-form input[type="number"] {
	width: 20%;
}

#trade_table .size-form input[type="submit"] {
	background-color: #78e;
	border: 2px solid #78e;
	color: #fff;
	cursor: pointer;
	padding: 1px 6px 1px 5px;
}

#trade_table .size-form input[disabled] {
	background-color: #ddf;
	border: 2px solid #ddf;
}

#trade_table .size-form input[type="submit"]:first-of-type {
	border-radius: 4px 0 0 4px;
}

#trade_table .size-form input[type="submit"]:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* #trade_table .size-form input:first-of-type {
	border-radius: 6px 0 0 6px;
}

#trade_table .size-form input:last-of-type {
	border-radius: 0 6px 6px 0;
} */

#trade_table tr:last-child {
	border-bottom: 1px solid #000;
}

#trade_table .bids-offers-td {
	border-left: 1px solid #000;
}

#trade_table .order {
	display: inline-block;
	margin-right: 6px;
}

#trade_table .order.admin-order {
	display: block;
	margin: 3px 2px;
	padding: 3px;
	border: 1px solid #000;
	border-radius: 3px;
}

#trade_table .order.order-error {
	padding: 3px;
	background-color: #e78;
	font-size: 12px;
	color: #fff;
}

#trade_table td.cancel-row {
	text-align: center;
}

.last-session p {
	text-align: left;
}

#last_session_table {
	border: 1px ;
	border-collapse: collapse;
	margin-top: 30px;
	width: 75%;
	text-align: left;
	border: 1px solid #000;
}

#last_session_table td {
	padding: 5px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#last_session_table .table-header td {
	padding-top: 15px;
	border-bottom: 1px solid #000;
}

#last_session_table tr.table-header {
	background-color: #ddd;
}

#last_session_table .instrument-name {
	width: 25%;
}

#auth input[type="email"], #auth input[type="password"] {
	display: block;
	margin: 20px auto;
}

input {
	padding-left: 5px;
}

input[value="Войти"] {
	padding: 15px 20px;
	background-color: #78e;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

.signOut {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 15px 20px;
	background-color: #78e;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}

.errorBlock {
	margin: 20px auto 0 auto;
	width: 23%;
	background-color: #f66;
	color: #fff;
	height: 28px;
	padding-top: 10px;
	border-radius: 7px;
}

.no-session {
	display: block;
  margin: 20px auto;
  width: 380px;
  padding: 30px;
  text-align: center;
  border: 2px solid #5555ee;
  border-radius: 10px;
}

.no-session p {
	margin-bottom: 40px;
	color: #5555ee;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;	
}

.pop-up-wrapper {	
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 40, 0.2);
}

.pop-up {
  position: absolute;
  display: inline-block;
  width: 500px;
  height: 260px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -130px;
  background-color: #fff;
  border: 1px solid #eef;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 2px 2px 20px #003;
  box-shadow: 2px 2px 20px #003;
}

.pop-up button {
	text-transform: uppercase;
	margin: 15px;
	font-weight: bold;
}

.pop-up.confirm-instrument-deletion .confirm-button, .pop-up.start-session .confirm-button {
	background-color: #e78;
	border: 2px solid #e78;
}

#trade_app_header {
	height: 44px;
}

.common-menu-link {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 8px 0;
  box-sizing: border-box;
  background-color: #78e;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.common-menu-link:hover {
	padding-top: 14px;
}

.tickets, .last-session {
	text-align: left;
	padding: 0 50px;
}

.tickets h1, .last-session h1 {
	text-align: center;
}

.tickets .time-form input, .tickets .time-form label {
	display: block;
	margin: 10px 0;
}

.tickets .time-form input[type="submit"] {
	margin-top: 10px;
	width: 150px;
}

.tickets .time-form .error input[type="submit"] {
	background-color: #e78;
	border: 2px solid #e78;
}

.tickets td.buy {
	color: #090;
}

.tickets td.sale {
	color: #009;
}

.star {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 3.5px 0 0 3.5px;
	background-image: url('../../public/images/star.png');
	-webkit-background-size: 16px;
	background-size: 16px;
}

.admin-row {
	background-color: #eef;
}

#trade_table .col-instrument-name {
	width: 210px;
}

#trade_table .col-instrument-price {
	width: 80px;
}

#trade_table.admin .col-instrument-price {
	width: 110px;
}

#trade_table .table-header .col-buy {
	border-right: none;
	width: 80px;
}

#trade_table .table-header .col-sell {
	border-left: none;
	width: 80px;
}

#trade_table .table-header .col-cancel {
	border-left: none;
	border-right: none;
	width: 100px;
}

#trade_table.admin .col-buy, #trade_table.admin .col-sell {
	width: 210px;
}

#trade_table .set-interest {
	width: 100px;
}

#trade_table .col-bought, #trade_table .col-sold {
	width: 65px;
}

#trade_table .time {
	text-align: left;
}

input.price {
	width: 80px;
}

input.name {
	width: 180px;
}

.wrapper.left {
	width: 40%;
}