body {
	background-color: #f9f9ff;
	font-family: sans-serif;
	padding: 0 20px;
}

h1 {
	text-transform: uppercase;
	color: #fff;
	text-shadow: 2px 2px 1px #666, -1px -1px 0 #dde;
	text-align: center;
	margin-top: 30px;
	color: #fff;
}

#__wrapper {
	background-color: #fff;
	height: 600px;
	color: #200;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 5px #666, -1px -1px 0 #dde;
	box-shadow: 3px 3px 5px #666, -1px -1px 0 #dde;
	padding: 30px;
}

#__session_form input[type="time"] {
    background-color: #f9f9ff;
    border: 1px solid #dde;
    padding: 5px 5px 6px 8px;
    border-radius: 4px;
    display: block;
    margin-top: 10px;
}

#__session_form input[type="time"]:focus {
	background-color: #f0f0f3;
	-webkit-box-shadow: inset 2px 2px 2px #aab;
	box-shadow: inset 2px 2px 2px #aab;
	padding: 6px 4px 5px 9px;
	outline: none;
}